* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
a{
    text-decoration: none;
}
    
body{
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto;
    overflow-x: hidden;
    /* background: lightsalmon; */
}
/* 
html,body{
    height:100%;
} */

.ellipse-1 {
    position: absolute;
    background-color: #FFCB12;
    z-index: -1;
    width: 50vw;
    height: 50vh;
    top: 10%;
    left: -15%;
    border-radius: 50%;
    transform: rotate(221deg);
}

.ellipse-2 {
    position: absolute;
    background-color: rgb(255, 203, 18);
    z-index: -1;
    width: 50vw;
    height: 50vh;
    top: 70vh;
    right: -24vw;
    border-radius: 50%;
    transform: rotate(328deg);
}


.mainContainer{
    width: 90%;
    padding: 20px;
    margin-top: 5%;
    margin: auto;   
    /* background: lightcoral; */
}

h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size: 5vh;
    color: #0E457B;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3vh;
    margin-top: 5%;
}

.details h6{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    /* color: #0E457B; */
}



.details button, #passChangeBtn{
    padding: 10px;
    border-radius: 25px;
    height: 100%;
    background: #0E457B;
    color: white;
    cursor: pointer;
    transition: all ease-out 0.1s;
}

#passChangeBtn:hover{
    background-color: #125293;
}


form{
    text-align: center;
    /* background: lightblue; */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-top: 2%; */
    padding: 2%;
}

label{
    font-size: 24px;
}

input,select{
    margin: 20px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 25px;
    width: 300px;
    font-size: 28px;
}

form button{
    border-radius: 25px;
    height: 3vh;
    width: 100px;
    background: #0E457B;
    color: white;
    transition: all ease-out 0.1s;
}

form button:hover{
    background-color: #125293;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
}

.buttons button{
    border-radius: 25px;
    height: 5vh;
    width: 100px;
    background: #0E457B;
    color: white;
    transition: all ease-out 0.1s;
}


.buttons button:hover{
    transform: scale(1.1);
}

/* .orderReqTable{
    margin-left: 5vw;
} */

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 24px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0E457B;
    color: white;
}

tr{
    background-color: #f2f2f2;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #0E457B;
    color: white;
}

tr:nth-child(odd) button{
    background-color: white;
    color: #0E457B;
} */
button {
    background-color: #0E457B;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
color: blue;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}